.Button_header {
  color: white;
  background-color: #0095ff;
  width: 280px;
  height: 40px;
  border: none;
  padding: 0;
  border-radius: 8px;
}
.Button_container {
  padding-left: 100px;
  padding-bottom: 20px;
}
@media (min-width: 820px) and (max-width: 1180px) {
  .Button_container {
    display: flex;
    flex-direction: row;
  }
  .Button_header {
    width: 150px;
  }
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .Button_container {
    padding-left: 100px;
  }
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .Button_container {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
  }
  .Button_header {
    width: 150px;
  }
}
