@mixin sectionheader {
  text-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@mixin subheader {
  text-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

@mixin bodycopy {
  text-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@mixin labelsbuttons {
  text-size: 10px;
  line-height: 20px;
  font-weight: 700;
}

.search_container_update {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.search_container-title {
  @include labelsbuttons();
  color: #afafaf;
}

.search_container-text-space {
  height: 40px;
  width: 400px;
  background-color: #e1e1e1;
  border: 1px solid #afafaf;
}

.search_container-videotitle {
  @include labelsbuttons();
  color: #afafaf;
}

.search_container-videotext {
  height: 100px;
  width: 400px;
  background-color: #e1e1e1;
  border: 1px solid #afafaf;
}
@media (min-width: 820px) and (max-width: 1180px) {
  .search_container-text-space {
    width: 1000px;
  }
  .search_container-videotext {
    width: 1000px;
  }
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .container__destok {
    display: flex;
    flex-direction: row;
  }
  .search_container_update {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }
  .search_container_update {
    padding-top: 100px;
  }
  .search_container-text-space {
    width: 600px;
  }
  .search_container-videotext {
    width: 600px;
  }
}
