@mixin sectionheader {
  text-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@mixin subheader {
  text-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

@mixin bodycopy {
  text-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@mixin labelsbuttons {
  text-size: 10px;
  line-height: 20px;
  font-weight: 700;
}

.article__container {
  flex-direction: column;
  display: flex;
}
.article__container--date {
  color: #afafaf;
}
.article__text {
  @include labelsbuttons;
}

.article__container {
  display: flex;
  flex-direction: row;
}
@media (min-width: 820px) and (max-width: 1180px) {
  .article__container {
    display: flex;
    flex-direction: row;
  }
  .article__container--date {
    padding-left: 30px;
  }
  .article__text {
    padding-left: 20px;
  }
}
