@mixin subheader {
  text-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
.video__container-title {
  @include subheader;
  margin-left: 20px;
}

.video__container {
  margin-top: 20px;
}

@media (min-width: 820px) and (max-width: 1180px) {
  .video__container {
    width: 100%;
  }

  .video_video {
    width: 1100px;
    padding-left: 30px;
  }
  .video__container-title {
    padding-left: 300px;
  }
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .video_video {
    width: 70%;
    padding-left: 220px;
  }
  .video__container-title {
    padding-left: 300px;
    padding-left: 200px;
    padding-top: 20px;
  }
  .video__container {
    background-image: linear-gradient(
        rgba(32, 32, 32, 0.5) rgba(32, 32, 32, 0.5)
      ),
      url(https://i.imgur.com/l2Xfgpl.jpg);
  }
}
