@mixin bodycopy {
  text-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@mixin subheader {
  text-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

.video__container {
  margin-top: 20px;
  width: 100%;

  .video__container-description {
    @include bodycopy();
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .video__container {
    width: 100%;
  }

  .video_video {
    width: 1100px;
    padding-left: 30px;
  }
  .video__container-title {
    padding-left: 60px;
  }
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .video_video {
    width: 70%;
    padding-left: 220px;
  }
  .video__container {
    background-image: linear-gradient(
        rgba(32, 32, 32, 0.5) rgba(32, 32, 32, 0.5)
      ),
      url(https://i.imgur.com/l2Xfgpl.jpg);
    width: 100%;
  }
  .video__container-title {
    padding-left: 220px;
  }
}
