.navigation_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
}
.avatar_tablet {
  display: none;
}
.avatar_mobile {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-bottom: 10px;
}
.avatar_ {
  display: flex;
  flex-direction: row;
}
@media (min-width: 820px) and (max-width: 1180px) {
  .navigation__container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
}
@media (min-width: 1180px) and (max-width: 1800px) {
}
