@mixin bodycopy {
  text-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.article__container--likes {
  @include bodycopy;
  color: #afafaf;
  padding-left: 230px;

  // &--date
  //    @include bodycopy;
  // color: #afafaf;
  //
}

.article__container--date {
  @include bodycopy;
  color: #afafaf;
}
