@mixin bodycopy {
  text-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.article__container {
  display: flex;
  flex-direction: column;
}
.article__containerOne--views {
  @include bodycopy;
  color: #afafaf;
  padding-left: 230px;
}

.article__container--likes {
  @include bodycopy;
  color: #afafaf;
  padding-left: 230px;
}
.icon_views {
  width: 20px;
}

@media (min-width: 820px) and (max-width: 1180px) {
  .article__container {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
  }
  .article__containerOne--views {
    justify-content: end;
    @include bodycopy;
    color: #afafaf;
    padding-left: 400px;
  }
  .article__container--likes {
    display: flex;
    margin-right: 0;
    @include bodycopy;
    color: #afafaf;
    padding-left: 30px;
  }
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .article__container {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
  }
  .article__containerOne--views {
    @include bodycopy;
    color: #afafaf;
    padding-left: 110px;
  }
  .article__container--likes {
    display: flex;
    margin-right: 0;
    @include bodycopy;
    color: #afafaf;
    padding-left: 30px;
  }
}
