@mixin sectionheader {
  text-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@mixin subheader {
  text-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

@mixin bodycopy {
  text-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@mixin labelsbuttons {
  text-size: 10px;
  line-height: 20px;
  font-weight: 700;
}

.box {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
.video-info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  border-radius: 70%;
}
.videos_container {
  border-radius: 10%;
  width: 150px;
  height: 100px;
}
.title_videos {
  @include sectionheader;
}
.channel_videos {
  @include bodycopy();
}
.nextVideos {
  padding-left: 30px;
  @include labelsbuttons();
  color: #afafaf;
}
@media (min-width: 820px) and (max-width: 1180px) {
  .inner {
    padding-right: 40px;
    padding-left: 40px;
  }
  .videos_container {
    border-radius: 20%;
    width: 150px;
    height: 140px;
  }
  .nextVideos {
    padding-left: 15px;
    @include labelsbuttons();
    color: #afafaf;
  }
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .inner {
    padding-right: 250px;
  }
  .videos_container {
    width: 120px;
  }
}
