@mixin sectionheader {
  text-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@mixin subheader {
  text-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

@mixin bodycopy {
  text-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@mixin labelsbuttons {
  text-size: 10px;
  line-height: 20px;
  font-weight: 700;
}
.text__text {
  @include bodycopy;
}
.text__comments {
  @include labelsbuttons;
}
.text__join {
  @include labelsbuttons;
  color: #afafaf;
}
