@mixin sectionheader {
  text-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

@mixin subheader {
  text-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

@mixin bodycopy {
  text-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@mixin labelsbuttons {
  text-size: 10px;
  line-height: 20px;
  font-weight: 700;
}

.Header {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: center;
  padding-bottom: 10px;
}

.Header-header {
  display: flex;
  flex-direction: row;
  height: 25px;
  width: 120px;
  padding-left: 180px;
}

@media (min-width: 820px) and (max-width: 1180px) {
  .Header {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
  }
  .App-logo {
    display: flex;
    flex-direction: row;
    // padding-right: 100px;
  }
}
@media (min-width: 1180px) and (max-width: 1800px) {
  .Header {
    display: flex;
    flex-direction: row;
    padding-right: 300px;
  }
  .App-logo {
    display: flex;
    flex-direction: row;
  }
}

